.vs/
*.user
*.suo
*.ipch
*.aps
*.opensdf
*.sdf
*.cache
*.db

x64/
x86/
Debug/
Release/
build/
bin/
obj/

*.obj
*.pdb
*.ilk
*.exp
*.gch
*.pch
*.iobj
*.ipdb
*.tlog

*.exe
*.lib
*.dll


!dependencies/
!dependencies/**
!dependencies/**/*.lib
!dependencies/**/*.dll
!dependencies/**/*.h
!dependencies/**/*.hpp
